<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 指定扫描com.caoy包下的所有类中的注解  -->
    <context:component-scan base-package="top.caoy"></context:component-scan>

    <!--目标类-->
    <bean id="UserServiceId" class="top.caoy.service.impl.UserServiceImpl"></bean>

    <!--切面类-->
    <bean id="mySpringAspect" class="top.caoy.aspect.MySpringAspect"></bean>

    <!--aop编程-->
    <!--<aop:config>-->
        <!--proxy-target-class="true"声明cjlib代理-->
        <!--<aop:pointcut>切入点-->
        <!--<advisor>特殊的切面，只有一个通知和一个切入点
            advice-ref:通知的引用
            pointcut-ref:切入点的引用-->
    <!--切入点表达式
       execution( *             top.caoy.service.impl.*.       *          (..))-->
    <!--选择方法  返回值任意表  包                     类名任意 方法名任意  参数任意       -->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="myPointcut" expression="execution(* top.caoy.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="mySpringAspect" pointcut-ref="myPointcut"/>
    </aop:config>
    <context:annotation-config/>
    <aop:aspectj-autoproxy proxy-target-class="false" expose-proxy="false"/>
</beans>