@import url("https:fonts.googleapis.com/css?family=css?family=Poppins:300,400,600,700");
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size:  "Poppins", sans-serif;
    background: #383838;
}
.card {
    position: relative;
    background: #fff;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}
.card .content {
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
}
.card .content a {
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 600;
}
.card .sliderText {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background :#000;
}
.card .sliderText h3 {
    color: #fff;
    font-size: 3em;
}
.swiper-slide {
    width: 400px !important;
}
.swiper-slide .blue{
    background: #2196f3;
}
.swiper-slide .red{
    background: #e91e63;
}
.swiper-slide .yellow{
    background: #c3d41a;
}
.swiper-slide .oriage{
    background: #ff9800;
}
.swiper-slide .purple{
    background: #c33ada;
}