<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置service-->
    <!--<bean>配置需要创建的对象
        id从spring容器中获得实例时使用
        class需要创建实例的权限定类名-->
    <bean id="userServiceId" class="service.impl.UserServiceImpl">
        <property name="myUser" ref="user"></property>
    </bean>

    <bean id="user" class="entity.User" lazy-init="true"></bean>

</beans>